@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter/Inter18pt-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter/Inter18pt-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter/Inter18pt-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter/Inter18pt-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter/Inter18pt-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/Poppins/Poppins-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/Poppins/Poppins-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 18px;
  background-color: #0d0d0d;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  max-width: calc(1170px + 15px * 2);
  margin: 0 auto;
  padding-inline: 15px;
}






/* Стили Иры для header. */
.burger-menu {
  display: none;
}





/* Света */

.menu {
}
.menu__title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 50px;
  line-height: 1.4;
  text-align: center;
}

.menu__items {
  height: 46px;
  margin-bottom: 80px;
}

.menu__filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  row-gap: 25px;
}

.menu__filter {
  padding: 8px 20px;
  border-bottom: 4px solid transparent;
  font-weight: 400;
  line-height: 1.67;
  text-align: center;
}

.menu__filter:hover {
  padding: 8px 20px;
  border-bottom: 4px solid #fff;
  border-radius: 10px;
  text-decoration: 0.2s;
}

.menu__filter--active {
  padding: 8px 20px;
  border-bottom: 4px solid #fff;
  border-radius: 10px;
}

.menu__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  justify-items: center;
  column-gap: 30px;
  row-gap: 40px;

}
.menu__card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-radius: 12px;
  /* padding: 20px; */
  width: 370px;
  height: 442px;
  box-shadow: 0 0 250px 0 rgba(0, 0, 0, 0.05);
  background: #191919;
}

.menu__card-image {
  align-self: center;
  width: 330px;
  height: 236px;
  padding-top: 20px;
  object-fit: cover;
}

.menu__card-title {
}
.menu__card-description {
}
.menu__card-price {
}
.menu__card-button {
}
.menu__button {
}











/* Стили Кати для нижних секций. */
.support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  max-height: 368px;
  height: 15rem;
}
.support__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.support__title {
  color: black;
}
.support__form {
  display: flex;
  flex-direction: row;
}

.restaurants {
  max-width: 1440px;
  max-height: 770px;
  width: 100%;
  margin: 0 auto;
}
.restaurants__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1170px;
  max-height: 470px;
  width: 100%;
  margin: 5% auto;
}

.restaurants__content {
  display: flex;
  flex-direction: column;
}

.restaurants__map-image {
  display: block;
  max-width: 483px;
  max-height: 470px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.footer {
  max-width: 1440px;
  max-height: 516px;
  width: 100%;
  margin: 0 auto;
}
.footer__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5% 0;
}

.footer__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #fff;
  margin: 0 0 5% 0;
  padding-top: 3%;
}
