@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter/Inter18pt-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter/Inter18pt-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter/Inter18pt-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter/Inter18pt-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter/Inter18pt-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/Poppins/Poppins-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/Poppins/Poppins-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: clamp(14px, 1.25vw, 18px);
  background-color: #0d0d0d;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  max-width: calc(1170px + 15px * 2);
  margin: 0 auto;
  padding-inline: 15px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
  gap: 10px;
  padding: 20px 34px 20px 34px;
  margin: 0px 30px;
  border: none;
  border-radius: 40px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.4px;
  cursor: pointer;
  background: #ffffff;
}

.button:active {
  transform: scale(0.95);
}

.menu__button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu__button {
  width: 168px;
}

.franchise__button {
  width: 294px;
}

.restaurants__button {
  width: 337px;
  margin-left: 0;
}

.support__button {
  width: 198px;
  background: #000000;
  color: #ffffff;
}

/* Ира */

.header {

  max-width: 1440px;
  margin: 0 auto;
  /* padding-inline: 15px; */
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  /* width: 100%; */
  background-color: #000000;
}
/* 
.header__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 17px;
  /* background: #000000; 
} */

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* min-width: 1153px; */
  height: 128px;
  /* padding: 0; */
  background-color: #000000;
}

.header__menu {
  display: flex;
  align-items: center;
  /* width: 43.63%; */
}

.header__menu-list {
  display: flex;
  align-items: center;
  gap: 42px;
  /* list-style: none; */
  /* margin-left: 80px; */
  /* padding: 0; */
}

.header__menu-link {
  color: #ffffff;
  font-weight: 500;
  /* font-size: 18px; */
  line-height: 20px;
  /* font-family: Inter, sans-serif; */
  letter-spacing: 0.4px;
  white-space: nowrap;
}

.header__menu-link:hover {
  border-top: 4px solid #f0a967;
  border-bottom: 4px solid #f0a967;
  padding: 6px 0;
}

.header__logo {
  display: flex;
  /* gap: 8px; */
  align-items: center;
  justify-content: space-between;
  /* width: 56.37%;
  padding-left: 20px; */
}

.header__logo-img {
  width: 100px;
  aspect-ratio: 1;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__actions-btn {
  display: flex;
  align-items: center;
  gap: 30px;
  /* gap: 8px;
  padding-right: 20px; */
}

.header__button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.header__button-img {
  width: 34px;
  height: 34px;
}

.header__actions-btn_white {
  /* margin-right: 80px; */
}

.button_member {
  width: 232px;
  height: 70px;
  font-size: 18px;
  white-space: nowrap;
}

.header__button-icon:active {
  transform: scale(0.95);
}
.button_member {
  width: 232px;
  height: 70px;
  font-size: 18px;
  white-space: nowrap;
  margin: 0;
}

.header__button-icon:active {
  transform: scale(0.95);
}

.welcome {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /*background-size: cover;*/
  margin: 0 auto;
  /* height: 700px;
  position: relative;
  overflow: hidden; */
  background-image: url(../images/background.png);
  /* width: 100vw; */
  /* max-width: calc(1440px + 15px * 2); */
  max-width: 1440px;
  /* margin: 0 auto; */
  /* padding-inline: 15px; */
  height: clamp(784px, 80vh, 543px);
  background-position: center;
  background-position-y: -34px;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: 0 auto; */
}
/* 
.welcome__container-background {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.welcome__image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Центрирование изображения по горизонтали 
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;  Размещение изображения на задний план, под другие элементы 
} */
/* 
.welcome__container > * {
  position: relative;
  z-index: 1; /* Все элементы в контейнере будут выше изображения 
} */

.welcome__title {
  display: flex;
  flex-direction: column;
  
  /* position: absolute;
  max-width: 652px;
  left: 135px;
  margin-bottom: 246px;
  margin-top: 80px; */
  /* padding: 0; */
  padding-top: 72px;
}

.welcome__heading {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: static;
  width: 652px;
  height: 288px;
  gap: 10;
  padding: 0px; */
  padding-bottom: 10px;
  font-size: clamp(28px, 3.82vw, 55px);
  /*font-size: clamp(28px, 4.58vw, 66px);  Размер из макета */
  font-weight: 900;
  line-height: 1.75;
  /*line-height: 1.45;  Высота из макета */
  letter-spacing: 0.4px;
  text-align: left;
}

.welcome__heading-description {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: static;
  width: 510px;
  height: 60px;
  gap: 10;
  padding: 0px; */
  font-size: clamp(14px, 1.39vw, 20px);
  font-weight: 200;
  /*font-weight: 400;  Толщина из макета */
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-align: left;
}

.welcome__button {
  padding-top: 40px;
  margin-left: 0;
}

.button_order {
  margin: 0;
}

.video {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.video__section {
  max-width: 1170px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.video__section_best {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
}

.video__section_best-food-market {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.video__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 822px;
}

.video__title-main {
  padding: 0;
  font-weight: 700;
  font-size: clamp(28px, 3.82vw, 50px);
  line-height: 1.4;
  font-family: Inter, sans-serif;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.4px;
}

.video__title-descripton {
  margin-top: 20px;
  font-weight: 400;
  font-size: clamp(14px, 1.39vw, 20px);
  line-height: 1.67;
  font-family: Inter, sans-serif;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.4px;
}

.video__article {
  display: flex;
  flex-direction: row;
  gap: 87px;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 70px;
}

.video__article-content {
  max-width: 515px;
  font-weight: 400;
  line-height: 1.67;
  font-family: Inter, sans-serif;
  color: #eeeeee;
  text-align: left;
  letter-spacing: 0.4px;
}

.video__article-content_bold {
  font-weight: 700;
  line-height: 1.67;
  font-family: Inter, sans-serif;
  color: #ffffff;
  text-align: left;
  cursor: pointer;
  letter-spacing: 0.4px;
}

.video__article-content_bold:hover {
  color: #f0a967;
}

.video__box {
  flex: 0 0 auto;
  min-width: 570px;
}

.video__box-food-maker {
  background: url(../images/video.jpg) 50% / cover no-repeat;
  border-radius: 12px;
}

.video__box-food-maker-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 169px 0;
}

.video__button {
  background: none;
  border: none;
  cursor: pointer;
}

.video__button img {
  width: 80px;
  height: 80px;
  transition: transform 0.3s;
}

.video__button:active {
  transform: scale(0.95);
}

/* Адаптивность блока с видео

@media (max-width: 768px) {
  .video__section {
    padding: 100px 10px;
  }

  .video__article {
    flex-direction: column;
    gap: 30px;
  }

  .video__article-content {
    max-width: 100%;
    text-align: center;
  }

  .video__box {
    min-width: 100%;
  }

  .video__title-main {
    font-size: 36px;
  }

  .video__title-descripton {
    font-size: 16px;
  }

  .video__box-food-maker-content {
    padding: 80px 0;
  }

  .video__button img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  .video__title-main {
    font-size: 28px;
  }

  .video__title-descripton {
    font-size: 14px;
  }

  .video__article-content {
    font-size: 14px;
    line-height: 1.6;
  }

  .video__button img {
    width: 50px;
    height: 50px;
  }
}

/* Света */

.menu__title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: clamp(28px, 3.47vw, 50px);
  line-height: 1.4;
  text-align: center;
}

.menu__items {
  height: 46px;
  margin-bottom: 80px;
}

.menu__filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  row-gap: 25px;
}

.menu__filter {
  padding: 8px 20px;
  border-bottom: 4px solid transparent;
  font-weight: 400;
  line-height: 1.67;
  text-align: center;
  transform: translateZ(0);
}

.menu__filter:hover {
  padding: 8px 20px;
  border-bottom: 4px solid #f0a967;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-decoration: 0.2s;
}

.menu__filter--active {
  padding: 8px 20px;
  border-bottom: 4px solid #f0a967;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  justify-items: center;
  column-gap: 30px;
  row-gap: 40px;
}

.menu__card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  width: clamp(280px, 25.69vw, 370px);
  height: clamp(388px, 30.69vw, 442px);
  box-shadow: 0 0 250px 0 rgba(0, 0, 0, 0.05);
  background: #191919;
}

.menu__card-image {
  align-self: center;
  width: clamp(240px, 22.92vw, 330px);
  height: clamp(170px, 16.39vw, 236px);
  padding: 20px;
  object-fit: cover;
}

.menu__card-title {
  padding-inline: 20px;
  font-weight: 700;
  font-size: clamp(20px, 1.67vw, 24px);
  line-height: 1.42;
}

.menu__card-description {
  padding: 10px 20px;
  font-weight: 400;
  font-size: clamp(14px, 1.11vw, 16px);
  line-height: 1.62;
}

.menu__card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
}

.menu__card-price {
  display: inline-flex;
  font-weight: 700;
  font-size: clamp(20px, 1.67vw, 24px);
  line-height: 1.42;
}

.menu__card-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  aspect-ratio: 1;
  padding: 0;
  border: 1px solid #ffffff;
  border-radius: 50px;
  background-color: transparent;
}

.menu__card-button::after {
  content: "";
  width: 20px;
  aspect-ratio: 1;
  background-image: url(../images/icons/shopping-cart.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.menu__card-button:hover::after {
  /* padding: 0; */
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50px;
  background-image: none;
  /* border: 1px solid #ffffff; */
  background-color: #ffffff;
  transition-duration: 0.2s;
}

.menu__card-button:active {
  transform: scale(0.95);
  background-color: #ffffff;
  /* border: 1px solid #ffffff; */
}

.menu__card-button.active {
  background-color: #f0a967;
  border: 1px solid #f0a967;
}

/* background-size: contain; */
/* z-index: 2; */
/* }

.menu__card-button.active::after {
  background-image: url(../images/icons/shopping-cart-black.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
} */

.menu__button {
  margin-top: 80px;
  /* margin-bottom: 150px; */
}

/* .button {
  display: inline-flex;
  align-items: center;
  height: 48px;
  padding-inline: 26px;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #FFFFFF;
  border: none;
  border-radius: 30px;;
}  */

/* Стили для карточек */

.menu__card {
  overflow: hidden;
}

.menu__card img {
  transition: transform 0.3s ease;
}

.menu__card:hover img {
  transform: scale(1.1);
}

.achievements {
  margin-top: 150px;
}

.achievements__content {
  margin-bottom: 180px;
}

.achievements__title {
  font-weight: 600;
  font-size: clamp(28px, 3.47vw, 50px);
  line-height: 1.36;
  text-align: center;
  padding-bottom: 60px;
}

.achievements__items {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}

.achievements__item {
  text-align: center;
  width: 270px;
}

.achievements__number {
  font-weight: 700;
  font-size: clamp(46px, 3.89vw, 56px);
  line-height: 1.18;
  text-align: center;
  padding-bottom: 12px;
}

.achievements__text {
  font-weight: 400;
  line-height: 167%;
  text-align: center;
}

.franchise__title {
  padding-bottom: 20px;
  font-weight: 600;
  font-size: clamp(28px, 3.47vw, 50px);
  line-height: 1.4;
  text-align: center;
}

.franchise__text {
  font-weight: 400;
  font-size: clamp(14px, 1.39vw, 20px);
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-align: center;
  padding-bottom: 60px;
}

.franchise__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.franchise__button {
  margin-bottom: 150px;
}

.reviews {
  margin-bottom: 150px;
}

.reviews__title {
  font-weight: 600;
  font-size: clamp(28px, 3.47vw, 50px);
  line-height: 1.4;
  text-align: center;
  padding-bottom: 70px;
}

.reviews__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  justify-items: center;
  column-gap: 30px;
  row-gap: 40px;
}

.reviews__list {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  width: clamp(280px, 25.69vw, 370px);
  height: clamp(337px, 25.76vw, 371px);
  box-shadow: 0 0 250px 0 rgba(0, 0, 0, 0.05);
  background: #191919;
}

.reviews__item {
  display: grid;
  justify-content: start;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(4, 1fr);
  column-gap: 12px;
  width: clamp(227px, 16.11vw, 232px);
  height: 113px;
  padding: 20px;
}

.reviews__photo {
  grid-column: 1/2;
  grid-row: 1/5;
  object-fit: cover;
  /* border: 2px solid #191919;
  border-radius: 50px; */
}

.reviews__name {
  grid-column: 2/3;
  grid-row: 1/5;
  font-weight: 700;
  line-height: 1.56;
  letter-spacing: 0.4px;
}

.reviews__position {
  grid-column: 2/3;
  grid-row: 2/5;
  /* align-content: end; */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  white-space: nowrap;
  opacity: 0.7;
}

.reviews__rating {
  grid-column: 2/3;
  grid-row: 3/5;
}

.reviews__quote {
  align-content: end;
  grid-column: 1/3;
  grid-row: 4/5;
}

.reviews__text {
  padding-inline: 20px;
  font-weight: 500;
  line-height: 1.56;
  letter-spacing: 0.4px;
  opacity: 0.7;
}

/* стили для карточек */

.reviews__list {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reviews__list:hover {
  transform: scale(1.05); /* Лёгкое увеличение */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Тень при наведении */
}

/* Стили Кати для нижних секций. */
.support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  max-height: 368px;
  height: 20rem;
  width: 100%;
  margin: 80px 0;
}

.support__title {
  font-weight: 700;
  font-size: clamp(30px, 4.86vw, 70px);
  line-height: 129%;
  text-align: center;
  color: black;
  margin: 0 0 50px 0;
  width: 680px;
  height: 90px;
}
.support__form {
  display: flex;
}

.support__input {
  font-weight: 600;
  /* font-size: clamp(14px, 1.25vw, 18px); */
  line-height: 156%;
  color: #000;
  border: 1px solid #000;
  border-radius: 40px;
  width: clamp(280px, 36.8vw, 530px);
  height: clamp(56px, 4.72vw, 68px);
  padding-left: 5%;
}

.restaurants {
  /* max-width: 1440px; */
  max-height: 770px;
  /* width: 100%; */
  margin: 0 auto;
}

.restaurants__container {
  display: flex;
  justify-content: space-between;
  /* box-sizing: border-box; */
  /* max-width: 1170px; */
  max-height: 470px;
  /* width: 100%; */
  margin: 150px auto;
}

.restaurants__content {
  display: flex;
  flex-direction: column;
  max-width: 542px;
  max-height: 384px;
  width: 100%;
  height: 100%;
}

.restaurants__title {
  font-weight: 700;
  font-size: clamp(28px, 3.47vw, 50px);
  line-height: 140%;
  letter-spacing: 0.4px;
}

.restaurants__description {
  font-weight: 400;
  /* font-size: clamp(14px, 1.25vw, 18px); */
  line-height: 150%;
  letter-spacing: 0.4px;
  margin: 5% 0 17% 0;
}

.restaurants__map-image {
  display: block;
  width: clamp(280px, 33.54vw, 483px);
  height: 470px;
  border-radius: 10px;
  object-fit: cover;
}

.footer {
  max-width: 1440px;
  max-height: 516px;
  /* width: 100%; */
  margin: 0 auto;
  background-color: #191919;
}

.footer__container {
  display: flex;
  flex-direction: column;
  /* box-sizing: border-box; */
  /* max-width: 1170px;
  width: 100%; */
  /* margin: 80px auto 100px auto; */
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin: 0 0 100px 0;
}

.footer__title {
  font-weight: 600;
  font-size: clamp(20px, 1.67vw, 24px);
  line-height: 1.42;
  letter-spacing: 0.4px;
  white-space: nowrap;
  margin: 80px 10px 30px 0;
}

.footer__item {
  font-weight: 400;
  line-height: 100%;
  margin: 0 0 30px 0;
  white-space: nowrap;
  letter-spacing: 0.4px;
  transition: color 0.3s ease;
}

.footer__item:hover {
  color: #f0a967;
  cursor: pointer;
}

.footer__card {
  white-space: wrap;
  margin: 0 30px 30px 0;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #4f4f4f;
  white-space: nowrap;
  /* max-width: 1440px; */
  max-height: 516px;
}

.footer__social-icon {
  /* padding-right: 10%; */
  transition: transform 0.3s ease;
  /* margin: 29px 0 80px 0; */
  padding: 20px 20px 30px 0;
}

.footer__social-icon:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.footer__text {
  font-weight: 400;
  /* font-size: clamp(14px, 1.25vw, 18px); */
  line-height: 167%;
  letter-spacing: 0.4px;
  /* margin: 29px 0 80px 0; */
  padding: 20px 0 30px 0;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

@media (max-width: 480px) {

  /* Катины медиазапросы, ваши все выше */
  /* Секция с формой */
  .support {
    width: 320px;
    height: auto;
    margin-bottom: 40px;
    padding: 0;
  }
  
  .support__title {
    line-height: 167%;
    width: 280px;
    height: auto;
    margin: 40px 20px 30px 20px;
  }

  .support__form {
    flex-direction: column;
    flex-wrap: wrap;
    width: 280px;
    height: auto;
    margin: 0 20px 40px 20px;
    padding: 0;
    gap: 15px;
  }
  
  .support__input {
    margin: 0;
    padding-left: 10%;
    box-sizing: border-box;
  }
 /* Секция с картой */
  .restaurants {
  /* max-height: 770px;
  margin: 0 auto; */
  width: 320px;
  height: auto;
  }

  .restaurants__container {
  /* display: flex;
  justify-content: space-between;
  max-height: 470px;
  margin: 150px auto; */
  flex-direction: column;
  justify-content: center;
  width: 280px;
  height: auto;
  margin: 90px 25px;
  }

  .restaurants__content {
  /* display: flex;
  flex-direction: column;
  max-width: 542px;
  max-height: 384px;
  width: 100%;
  height: 100%; */
  justify-content: center;
  width: 280px;
  height: auto;
  padding: 0;
  gap: 15px;
  }

  .restaurants__title {
  /* font-weight: 700;
  font-size: clamp(28px, 3.47vw, 50px);
  line-height: 140%;
  letter-spacing: 0.4px; */
  line-height: 179%;
  width: 280px;
  height: auto;
  }

  .restaurants__description {
  /* font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.4px;
  margin: 5% 0 17% 0; */
  line-height: 171%;
  width: 280px;
  height: auto;
  margin: 0;
  }

  .restaurants__map-image {
  /* display: block;
  width: clamp(280px, 33.54vw, 483px);
  height: 470px;
  border-radius: 10px;
  object-fit: cover; */
  margin-top: 60px;
  }

}